@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@media (max-width: 768px) {
    .cabecalho {
      padding: 1% 3%;
    }
    .botoes a {
      font-size: 18px;
    }
}

* {
    border: 0;
    margin: 0;
}

body {
    height: 2vh;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(to right, orangered , white);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 6%;
    padding-left: 3%;
    align-items: center;
    border: solid orangered 1px;
}

.cabecalho img {
    max-width: 20%;
    height: auto;
}

.botoes a {
    display: flex;
    align-items: center;
    flex-direction: row ;
    color: orangered;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-size: 21px;
    align-items: center;
    align-self: center;
    transition: color 0.2s ease;
}

.botoes a:hover {
    color: yellow;
}

hr {
    height: 2px;
    color: orangered;
    border: none;
    background-color: orangered;
    margin: 10px 0;
}

main {
    padding-top: 3%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.conteudo h1 {
    padding-bottom: 1%;
    padding-top: 1%;
    color: orangered;
    font-family: 'Krona One', sans-serif;
}

.conteudo h2 {
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
}

.nomes {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.nomes p {
    padding-bottom: 0.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.nomes h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    color: orangered;
    font-size: 25px;
}

footer h2 {
    display: flex;
    justify-content: center;
    font-family: 'Krona One', sans-serif;
    background-image: linear-gradient(to left, orangered , white);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border: solid orangered 1px;
}